<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/static/styles_2.css">
     <title>Horarios</title>
     
</head>
<body >

    <main id="titulo_main">
        <section id="titulo">
            <div>
                <h2>Horarios Disponibles</h2>
                <h3>1er Turno</h3>
                <ul id="tm">
                    {% for manhana in turno_manhana %}
                        <li>{{ manhana.horario }} Hs</li>
                    {% endfor %}

                  
                </ul>
                <h3>2do Turno</h3>
                <ul id="tt">
                    {% for tarde in turno_tarde %}
                    <li>{{ tarde.horario }} Hs</li>
                    {% endfor %}
                </ul>
                <h3>3er Turno</h3>
                <ul id="tn">
                    {% for noche in turno_noche %}
                        <li>{{ noche.horario }} Hs</li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        </main>
</body>
</html>