<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/index.css"/>

    <title>Bustrack</title>
  </head>
  <body>
    <header>
      <div id="logofondo">
        <img id="logo" src="/static/logo.png" alt="" />
      </div>
      <nav>
        <ul id="ul_nav">
          <li><a href="">Registrarse</a></li>
          <li><a href="/universidad">Universidades</a></li>
          <li><a href="/home">Mapa</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section id="slogan">
        <h2>BUSTRACKS</h2>
        <h1>Tu viaje, tu lectura</h1>
      </section>
      <section id="option">
        <ul id="ul_option">
          <li><a href="#info">Informaciones</a></li>
          <li><a href="#beneficios">Beneficios</a></li>
          <li><a href="#coments">Lectupromos</a></li>
        </ul>
      </section>
      <section id="info">
        <h3>Informacion</h3>
        <h2>
          Rastrea tu autobus en tiempo real y acumula beneficios con tiempo de
          lectura
        </h2>
        <div><a href="">Preguntas frecuentes sobre BUSTRACKS</a></div>
      </section>
      <section id="beneficios">
        <div id="beneficio1">
          
          <h2>"¿Quieres viajar en bus de forma más económica?"</h2>
          <p>
            <span>En Bustrack:</span> Creemos en el poder de la lectura, ya que
            reducimos significativamente tus gastos de transporte diarios.
            Convierte tu trayecto en una experiencia enriquecedora, mientras
            acumulas horas de lectura para pagar tu pasaje.
          </p>
        </div>
        <div id="beneficio2">
          
          <h2>"¿Cansado de esperar en paradas de autobús? "</h2>
          <p>
            <span>Nuestros Bustrackers:</span> Disfrutan de viajes eficientes y
            aprovechan el poder observar los autobuses en tiempo real y evitar
            esperas innecesarias. Disfrutan de viajes eficientes y aprovechan al
            máximo cada minuto de tu día.
          </p>
        </div>
      </section>

      <section id="coments">
        <h3>Viaja, lee y ahorra!</h3>
        <h4>Convierte tus lecturas en pasajes de autobus </h4>
      </section>

      <section id="coments2">

        <div id="right">
            <p>
              Bustracks es mucho mas que una plataforma de transporte. Es tu pasaje hacia un viaje mas inteligente y enriquecedor. Con bustracks, ahorras dinero en transporte publico al acumular horas de lectura mientras viajas y al mismo tiempo, disfrutas de la emocion de seguir en tiempo real la ubicacion de los autobuses, eliminando esperas innecesarias. Fontamos tu pasion por la lectura y garantizamos que nunca pierdas un viaje. Unete a bustracks y descubre un camino hacia la eficiencia, el ahorro y el placer de leer mientras te desplazas.
            </p>
        </div>

        <div id="left">
          <img src="" alt=""></div>
      </section>
    </main>
    
  </body>
</html>